
<input type="text" (input)="onSearch()" [(ngModel)]="inputname"/>
<div *ngFor="let result of searchResults">
  {{ result }}
</div>

<p>{{page$ | async}}</p>
<div>
<h1>RXJS Operators</h1>
<button (click)="fromOfDiff()">From and Of Difference</button>
<button (click)="scanOperator()">Scan operator</button>
<button (click)="throttleTime()">throttle time operator</button>
<button (click)="delay()">Delay operator</button>
<button (click)="ofOperator()">Of operator</button>
<button (click)="switchMap()">Switch Map</button>
<button (click)="exhaustMap()">Exhaust Map</button>
<button (click)="mergeMap()">Merge Map</button>
<button (click)="concatMap()">Concat Map</button>
<button (click)="zipOperator()">Zip operator</button>
<button (click)="combineLastesOperator()">Combine Latest</button>
<button (click)="forkJoinOperator()">Fork Join</button>


</div>
<div>
  <h1>Subjects</h1>
  <button (click)="subject()">Subject</button>
  <button (click)="behaviourSubject()">Behaviour subject</button>
  <button (click)="replaySubject()">Replay subject</button>
  <button (click)="asyncsubject()">Async subject</button>
</div>



